.advantage {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 94px;
  margin-bottom: 106px;

  &__tittle {
    color: $tittle-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;

    text-transform: uppercase;
    padding-bottom: 10px;
  }
  &__description {
    color: $primary-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  &__list {
    display: flex;
  }

  &__item + &__item {
    margin-left: 30px;
  }

  &__field {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: $secondary-background-color;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }
}
